@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    /* Color palette */
    --dark-green: #272C1E;
    --deep-olive: #56641F;
    --medium-green: #789236;
    --bright-kiwi: #9AB452;
    --muted-sage: #A2A78C;
    --light-kiwi: #D9DB9F;

    --deep-blue: #3D52A0;
  --medium-blue: #7091E6;
  --soft-blue: #8697C4;
  --light-blue: #ADBBDA;
  --pale-blue: #EDE8F5;

  --white: #FFFFFF;
  --light-gray: #F2F2F2;
  --medium-gray: #E0E0E0;
  --dark-gray: #333333;
  --charcoal: #444444;
  --black: #000000;
  --overlay-gray: rgba(200, 200, 200, 0.3);

  }
  
/* Global Layout */
#defaultLayout {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: transparent;
}

/* Sidebar */
aside {
    width: 280px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1d2e28;
    color: white;
    transition: transform 0.3s ease-in-out;
}
.sidebar-toggle{
    color: var(--dark-gray);
}
aside .title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 1px;
}

aside .flex-col {
    padding: 20px;
}

aside a span {
    display: block;
    padding: 10px 5px;
    font-size: 1.2rem;
    border-radius: 2px;
    transition: background 0.3s;
    color: var(--charcoal);
}

aside a span:hover {
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    
}

.sidebar-link {
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    background: #39c29f;
    color: var(--charcoal);
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-family: "Calibri",Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    transition: background 0.3s ease-in-out;
}

.sidebar-link:hover {
    background-color: #4eb886;
}

.sidebar-link:active {
    background-color: #1aac4a;
}

.sidebar-title {
    font-family: "Calibri",Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
    font-size: 30px;
    color: var(--charcoal);
}

/* Main Content */
.content-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin-left: 280px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid var(--dark-gray);
    box-sizing: border-box;
    
    background: linear-gradient(to right, var(--medium-gray), var(--light-gray));
}

.header-text {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Calibri",Arial, Helvetica, sans-serif;
    color: var(--charcoal);
    flex-grow: 1;
    margin: 0 35px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

/* Modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .bg-white {
    width: 350px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Profile & Logout Buttons */
.btn-modal {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.3s;
}

.btn-modal:hover {
    background-color: white;
    color: #1d2e28;
    border: 2px solid #1d2e28;
}

.logout-btn {
    position: fixed;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 22px;
    background-color: var(--dark-gray);
    color: var(--white);
    font-family: "Calibri",Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(122, 111, 111, 0.5);
}

.logout-btn:hover {
    background-color: var(--charcoal);
    transform: scale(1.08);
}

/* User Info */
.username, .userposition, .usernameLayout, .userpositionLayout {
    position: relative;
    font-family: "Calibri",Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: var(--charcoal);
}

.usernameLayout, .userpositionLayout {
    top: 545px;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    color: var(--charcoal);
}

.sidebar-container {
    
    position: fixed;
    top: 0;
    left: 0;
    /*background-color: #B17F59;*/
    background-color: var(--light-gray);
    color: var(--charcoal);
    transition: transform 0.3s ease-in-out;
}

